.feed {
  margin-left: 340px;
  padding: 60px 180px;
}

.new-post {
  background-color: #f4f4f4;
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 60px;
}

.new-post-top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.new-post-top img {
  height: 60px;
}

.new-post-top form {
  width: 100%;
}

.input-post {
  background-color: #e0e0e0;
  border: none;
  width: 100%;
  font-family: inherit;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.new-post-bottom {
  display: flex;
  justify-content: right;
  gap: 20px;
  align-items: center;
  margin-top: -10px;
}

.adicionar {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #9f9f9f;
  gap: 10px;
  padding: 8px 20px;
  border-radius: 20px;
}

.adicionar:hover {
  background-color: #e0e0e0;
}

.postar {
  height: 40px;
  border-radius: 20px;
  background-color: #739ebe;
}
