.profile {
  background-color: #f4f4f4;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  gap: 60px;
  box-shadow: 2px 2px 20px rgba(0, 0, 20, 0.4);
}

.profile-title {
  text-align: center;
  margin-bottom: 20px;
}

.picture-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 300px;
  position: relative;
}

.input-container {
  width: 100%;
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-input {
  background-color: #e0e0e0;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  margin: 10px 0px 30px;
  padding: 10px;
}

.atualizar {
  height: 40px;
  border-radius: 20px;
  background-color: #739ebe;
  padding: 8px 20px 14px;
}

.atualizar:hover {
  background-color: #26569e;
}

.special {
  height: calc(100vh - 40px);
}
