.log {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 560px;
}

.log-container p {
  margin-bottom: 40px;
}

.forgot-password {
  color: #6f6f6f;
  margin-top: -10px;
}

.forgot-password a::after {
  background-color: #6f6f6f;
}
