.log {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 520px;
}

.log-container p {
  margin-bottom: 40px;
}

.forgot-password {
  color: #5b5b5b;
  margin-top: -10px;
}

.forgot-password a::after {
  background-color: #adbfd5;
}

.forgot-password a:hover::after {
  background-color: #26569e;
}
